Packs/TELUS-SOCaaS/Playbooks/SOCaaS_-_Cortex_XDR_incident_handling.yml
id: 1ac8a067-8edf-47c2-8021-ddfde8011533
version: 46
contentitemexportablefields:
  contentitemfields:
    packID: ""
    packName: ""
    itemVersion: 4.8.18
    fromServerVersion: 6.0.0
    toServerVersion: ""
    definitionid: ""
vcShouldKeepItemLegacyProdMachine: false
name: SOCaaS - Cortex XDR incident handling
description: |-
  This playbook is triggered by fetching a Palo Alto Networks Cortex XDR incident.
  The playbook syncs and updates new XDR alerts that construct the incident and triggers a sub-playbook to handle each alert by type.
  Then, the playbook performs enrichment on the incident’s indicators and hunts for related IOCs.
  Based on the severity, it lets the analyst decide whether to continue to the remediation stage or close the investigation as a false positive.
  After the remediation, if there are no new alerts, the playbook stops the alert sync and closes the XDR incident and investigation. For performing the bidirectional sync, the playbook uses the incoming and outgoing mirroring feature added in XSOAR version 6.0.0. After the Calculate Severity - Generic v2 sub-playbook’s run, Cortex XSOAR will be treated as the single source of truth for the severity field, and it will sync only from Cortex XSOAR to XDR, so manual changes for the severity field in XDR will not update in the XSOAR incident.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 133e176a-f057-402a-8c9d-5245116cfd64
    type: start
    task:
      id: 133e176a-f057-402a-8c9d-5245116cfd64
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "26"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 8019ab2c-abe5-4c0c-8ff7-843a1b9fc6e0
    type: condition
    task:
      id: 8019ab2c-abe5-4c0c-8ff7-843a1b9fc6e0
      version: -1
      name: Should handle the incident?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "3"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: inList
          left:
            value:
              simple: PaloAltoNetworksXDR.Incident.severity
            iscontext: true
          right:
            value:
              simple: medium,high,critical
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 56cdea9a-bc3c-451e-8eaf-1f4e3d848e85
    type: regular
    task:
      id: 56cdea9a-bc3c-451e-8eaf-1f4e3d848e85
      version: -1
      name: Create a case in portal
      description: 'mssportal-create-case command: Returns a MSSPortal case'
      script: '|||mssportal-create-case'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    scriptarguments:
      caseSource:
        simple: Cortex XDR
      caseTitle:
        simple: ${PaloAltoNetworksXDR.Incident.description}  - ${PaloAltoNetworksXDR.Incident.incident_id}
      customerId:
        simple: ${MSSPortal.tsp_customer_id}
      description:
        simple: ${PaloAltoNetworksXDR.Incident.description}
      priority:
        simple: ${PaloAltoNetworksXDR.Incident.severity}
      serviceComponent:
        simple: SOC
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 9f72f1cc-3574-4a70-8bed-1729eb392cf1
    type: title
    task:
      id: 9f72f1cc-3574-4a70-8bed-1729eb392cf1
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 2995
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: db169814-c84e-43ac-8eb2-22ecc4a95eeb
    type: regular
    task:
      id: db169814-c84e-43ac-8eb2-22ecc4a95eeb
      version: -1
      name: Update the case in portal to change the case status from pending to inprogress
      description: 'mssportal-acknowledge-case command: Change case status from ''pending'' to ''Investigate'''
      script: '|||mssportal-acknowledge-case'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "21"
    scriptarguments:
      id:
        simple: ${MSSPortal.Case.id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: f0e5036e-1a68-4013-8f46-c69c5d43a445
    type: regular
    task:
      id: f0e5036e-1a68-4013-8f46-c69c5d43a445
      version: -1
      name: Close incident
      description: 'mssportal-resolve-case command:  resolve case in MSS Portal'
      script: '|||mssportal-resolve-case'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      id:
        simple: ${MSSPortal.Case.id}
      resolutionNotes:
        simple: False positive - auto closure
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 2820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 848e852f-bdb1-4d84-85c5-d32ddd4932b8
    type: regular
    task:
      id: 848e852f-bdb1-4d84-85c5-d32ddd4932b8
      version: -1
      name: Check if the endpoint is VIP or server
      description: Generates random string
      scriptName: GenerateRandomString
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      Digits:
        simple: "False"
      Length:
        simple: "1"
      Lowercase:
        simple: "True"
      Punctuation:
        simple: "False"
      Uppercase:
        simple: "False"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: f7e617c0-5841-4f9d-8e87-1bab9b22977a
    type: condition
    task:
      id: f7e617c0-5841-4f9d-8e87-1bab9b22977a
      version: -1
      name: Malware on Host
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "27"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: PaloAltoNetworksXDR.Incident.alert_categories
            iscontext: true
          right:
            value:
              simple: Malware
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: daeb701d-58f0-4e42-8a76-37233c39cb11
    type: title
    task:
      id: daeb701d-58f0-4e42-8a76-37233c39cb11
      version: -1
      name: 'Alert Category #1'
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 2835
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 5e71f998-3ba2-4e87-8388-0cd9bbe2baca
    type: regular
    task:
      id: 5e71f998-3ba2-4e87-8388-0cd9bbe2baca
      version: -1
      name: Check if false positive
      description: Generates random string
      scriptName: GenerateRandomString
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      Digits:
        simple: "False"
      Length:
        simple: "1"
      Lowercase:
        simple: "True"
      Punctuation:
        simple: "False"
      Uppercase:
        simple: "False"
      ignore-outputs:
        simple: "false"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1770
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: cf909f8b-1ed9-4df8-8cbf-7f67c9870028
    type: condition
    task:
      id: cf909f8b-1ed9-4df8-8cbf-7f67c9870028
      version: -1
      name: Is false positive?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "9"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: match
          left:
            value:
              simple: RandomString
            iscontext: true
          right:
            value:
              simple: '[a-f]'
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: e730891a-d9c0-4477-8c5e-058973c63aa2
    type: title
    task:
      id: e730891a-d9c0-4477-8c5e-058973c63aa2
      version: -1
      name: 'Alert Category #2'
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 2835
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 67052944-bbc9-4d69-88f7-6f5104984c7d
    type: condition
    task:
      id: 67052944-bbc9-4d69-88f7-6f5104984c7d
      version: -1
      name: Is the endpoint VIP or Server?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "17"
      "yes":
      - "25"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: inList
          left:
            value:
              simple: RandomString
            iscontext: true
          right:
            value:
              simple: '[a-o]'
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2645
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 85e4f29b-ef6f-48f0-841f-9793069e60e8
    type: regular
    task:
      id: 85e4f29b-ef6f-48f0-841f-9793069e60e8
      version: -1
      name: Create portal task to clean up hosts
      description: 'mssportal-create-task command: Returns a MSSPortal task'
      script: '|||mssportal-create-task'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      aboutToExpireThresholdInDays:
        simple: "2"
      caseId:
        simple: ${MSSPortal.Case.id}
      description:
        simple: Create a portal tassk to handle VIP or SERVER Malware detection
      dueDate:
        complex:
          root: MSSPortal.Case.createdAt
          transformers:
          - operator: ModifyDateTime
            args:
              variation:
                value:
                  simple: in 3 days
          - operator: toString
            args:
              format:
                value:
                  simple: "2006-01-02"
      modifiedByTelus:
        simple: "false"
      name:
        simple: Create a portal tassk to handle VIP or SERVER Malware detection
      phase:
        simple: INVESTIGATE
      priority:
        simple: MEDIUM
      status:
        simple: PENDING
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: 437e43db-e601-4ab4-83eb-20a0e1a0cea1
    type: regular
    task:
      id: 437e43db-e601-4ab4-83eb-20a0e1a0cea1
      version: -1
      name: Confirm the portal case as a true incident
      description: 'mssportal-confirm-incident command: confirms the case as a true incident'
      script: '|||mssportal-confirm-incident'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      id:
        simple: ${MSSPortal.Case.id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2295
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: 0cdf20d5-517a-418b-8149-fd10cb773b31
    type: regular
    task:
      id: 0cdf20d5-517a-418b-8149-fd10cb773b31
      version: -1
      name: 'Get extra incident data '
      description: Returns additional data for the specified incident, for example, related alerts, file artifacts, network artifacts, and so on.
      script: Cortex XDR - IR|||xdr-get-incident-extra-data
      type: regular
      iscommand: true
      brand: Cortex XDR - IR
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      incident_id:
        simple: ${incident.xdrincidentid}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: 6692fa8a-7bab-4e48-82d3-33cf01b0cf69
    type: playbook
    task:
      id: 6692fa8a-7bab-4e48-82d3-33cf01b0cf69
      version: -1
      name: SOCaaS - Cortex XDR Malware - Incident Enrichment
      playbookName: SOCaaS - Cortex XDR Malware - Incident Enrichment
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      IncidentID:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "24":
    id: "24"
    taskid: a059e8ff-858a-4d77-8dca-02b4834dbd07
    type: regular
    task:
      id: a059e8ff-858a-4d77-8dca-02b4834dbd07
      version: -1
      name: Create an alert to the case
      description: 'mssportal-create-alert command: Returns a MSSPortal alert'
      script: '|||mssportal-create-alert'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "11"
      - "12"
      - "15"
    scriptarguments:
      caseDescription:
        simple: ${MSSPortal.Case.description}
      caseTitle:
        simple: ${MSSPortal.Case.caseTitle}
      customerId:
        simple: ${MSSPortal.Case.customerId}
      investigationCaseId:
        simple: ${MSSPortal.Case.id}
      name:
        simple: ${MSSPortal.Case.caseTitle}
      severity:
        simple: ${MSSPortal.Case.priority}
      sourceAlertId:
        simple: ${PaloAltoNetworksXDR.Incident.incident_id}
      sourceCreatedAt:
        complex:
          root: PaloAltoNetworksXDR.Incident
          accessor: creation_time
          transformers:
          - operator: TimeStampToDate
      sourceId:
        simple: ${MSSPortal.Case.caseSource}
      sourceModifiedAt:
        complex:
          root: PaloAltoNetworksXDR.Incident
          accessor: modification_time
          transformers:
          - operator: TimeStampToDate
      sourceRaw:
        simple: ${PaloAltoNetworksXDR.Incident}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: c20cd9d9-2ba5-4e39-8f78-9ac0a23bfcb6
    type: regular
    task:
      id: c20cd9d9-2ba5-4e39-8f78-9ac0a23bfcb6
      version: -1
      name: Handle Malware on VIP or SERVER
      description: 'mssportal-create-task command: Returns a MSSPortal task'
      type: regular
      iscommand: false
      brand: MSS Portal - MDR
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    sla:
      minutes: 0
      hours: 0
      days: 3
      weeks: 0
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "26":
    id: "26"
    taskid: ea9a4abe-7e51-46c8-8edd-cd3e812c3b3c
    type: regular
    task:
      id: ea9a4abe-7e51-46c8-8edd-cd3e812c3b3c
      version: -1
      name: Get customer id
      scriptName: SOCaaS-GetMSSPortalCustomerID
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "22"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: 27a48b99-1a9d-4523-8d3f-95bb7f0ac34f
    type: regular
    task:
      id: 27a48b99-1a9d-4523-8d3f-95bb7f0ac34f
      version: -1
      name: Find Malwre on host playbook on the portal
      description: 'mssportal-find-playbook command: Returns a MSSPortal Playbook'
      script: '|||mssportal-find-playbook'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      limit:
        simple: "1"
      searchText:
        simple: Malware on host
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: e13dc3eb-ea75-4a1a-8dfd-6047faeba433
    type: regular
    task:
      id: e13dc3eb-ea75-4a1a-8dfd-6047faeba433
      version: -1
      name: Activate portal's  Malware on host playbook in the case
      description: 'mssportal-activate-playbook command: activate portal playbook in the case'
      script: '|||mssportal-activate-playbook'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "23"
    scriptarguments:
      caseId:
        simple: ${MSSPortal.Case.id}
      playbookId:
        simple: ${MSSPortal.Playbook.content.[0].id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3010,
        "width": 2100,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
sourceplaybookid: Cortex XDR incident handling v3
