Packs/TELUS-SOCaaS/Playbooks/SOCaaS_-_Cortex_XDR_Malware_-_Incident_Enrichment.yml
id: a3154fd7-21d8-4067-8c32-cd7bcd4afe07
version: 7
contentitemexportablefields:
  contentitemfields:
    packID: ""
    packName: Palo Alto Networks Cortex XDR - Investigation and Response
    itemVersion: 4.8.19
    fromServerVersion: 6.5.0
    toServerVersion: ""
    definitionid: ""
vcShouldKeepItemLegacyProdMachine: false
name: SOCaaS - Cortex XDR Malware - Incident Enrichment
description: |-
  This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
  This playbook enriches the Cortex XDR incident. The enrichment is done on the involved endpoint and Mitre technique ID information, and sets the 'Malware-Investigation and Response' layout.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: e2662664-fba0-4b18-883f-187e0c0ab4de
    type: start
    task:
      id: e2662664-fba0-4b18-883f-187e0c0ab4de
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 660,
          "y": 190
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 79550845-832e-47f8-8fa8-84cd6abc8069
    type: regular
    task:
      id: 79550845-832e-47f8-8fa8-84cd6abc8069
      version: -1
      name: Get Full Incident Details
      description: Returns additional data for the specified incident, for example related alerts, file artifacts, and network artifacts.
      script: '|||xdr-get-incident-extra-data'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "25"
    scriptarguments:
      incident_id:
        simple: ${inputs.IncidentID}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 660,
          "y": 330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: Hostnames
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.host_name}
    - incidentfield: Detected Users
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.user_name}
    - incidentfield: MITRE Technique ID
      output:
        complex:
          root: PaloAltoNetworksXDR.Incident.mitre_techniques_ids_and_names
          filters:
          - - operator: isNotEmpty
              left:
                value:
                  simple: PaloAltoNetworksXDR.Incident.mitre_techniques_ids_and_names
                iscontext: true
          transformers:
          - operator: RegexExtractAll
            args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: \bT\d{4}(?:\.\d{3})?\b
              unpack_matches: {}
    - incidentfield: MITRE Tactic ID
      output:
        simple: ${PaloAltoNetworksXDR.Incident.mitre_tactics_ids_and_names}
    - incidentfield: Parent CMD line
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.causality_actor_process_command_line}
    - incidentfield: Process CMD
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.actor_process_command_line}
    - incidentfield: CMD line
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.action_process_image_command_line}
    - incidentfield: File SHA256
      output:
        simple: ${PaloAltoNetworksXDR.Incident.file_artifacts.file_sha256}
    - incidentfield: External Link
      output:
        simple: ${PaloAltoNetworksXDR.Incident.xdr_url}
    - incidentfield: Description
      output:
        simple: ${PaloAltoNetworksXDR.Incident.description}
    - incidentfield: File Names
      output:
        simple: ${PaloAltoNetworksXDR.Incident.file_artifacts.file_name}
    - incidentfield: File MD5
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.action_file_md5}
    - incidentfield: Process MD5
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.action_file_md5}
    - incidentfield: Process SHA256
      output:
        simple: ${PaloAltoNetworksXDR.Incident.file_artifacts.file_sha256}
    - incidentfield: Agents ID
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.endpoint_id}
    - incidentfield: Agent Version
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.agent_version}
    - incidentfield: Detected Internal IPs
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.host_ip}
    - incidentfield: Hostnames
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.host_name}
    - incidentfield: Device OS Name
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.agent_os_type}
    - incidentfield: External Category Name
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.category}
    - incidentfield: External End Time
      output:
        simple: ${PaloAltoNetworksXDR.Incident.modification_time}
    - incidentfield: External Start Time
      output:
        simple: ${PaloAltoNetworksXDR.Incident.creation_time}
    - incidentfield: External Link
      output:
        simple: ${PaloAltoNetworksXDR.Incident.xdr_url}
    - incidentfield: External Severity
      output:
        simple: ${PaloAltoNetworksXDR.Incident.severity}
    - incidentfield: Parent Process CMD
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.causality_actor_process_command_line}
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 9ce7b577-5e63-4a57-8313-c32db64870bf
    type: regular
    task:
      id: 9ce7b577-5e63-4a57-8313-c32db64870bf
      version: -1
      name: Enrich endpoint details
      description: Returns information about an endpoint.
      script: Cortex XDR - IR|||endpoint
      type: regular
      iscommand: true
      brand: Cortex XDR - IR
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      id:
        complex:
          root: incident
          accessor: agentsid
          transformers:
          - operator: uniq
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -30,
          "y": 950
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 6e91f816-6b64-4094-8e39-8c9887667fe1
    type: title
    task:
      id: 6e91f816-6b64-4094-8e39-8c9887667fe1
      version: -1
      name: 'Mitre Info '
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 880,
          "y": 820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 4f67e46b-42b0-43aa-8584-55e720526232
    type: title
    task:
      id: 4f67e46b-42b0-43aa-8584-55e720526232
      version: -1
      name: Entity Enrichments
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "9"
      - "6"
      - "21"
      - "27"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 660,
          "y": 680
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 6fc9fb96-ead7-4f87-885d-5a8d15e279e4
    type: title
    task:
      id: 6fc9fb96-ead7-4f87-885d-5a8d15e279e4
      version: -1
      name: Endpoint info
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -30,
          "y": 820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 2c687eeb-6a7a-43bc-81fd-d115b0aaad2b
    type: title
    task:
      id: 2c687eeb-6a7a-43bc-81fd-d115b0aaad2b
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 670,
          "y": 1740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 7c1aef1c-16a3-4ac6-8bd4-0ae6f59c1af3
    type: regular
    task:
      id: 7c1aef1c-16a3-4ac6-8bd4-0ae6f59c1af3
      version: -1
      name: Set Endpoint information to layout
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      deviceid:
        simple: ${Endpoint.[0].ID}
      devicelocalip:
        simple: ${Endpoint.[0].IPAddress}
      devicemacaddress:
        simple: ${Endpoint.[0].MACAddress}
      devicename:
        simple: ${Endpoint.[0].Hostname}
      deviceosname:
        simple: ${Endpoint.[0].OS}
      deviceosversion:
        simple: ${Endpoint.[0].OSVersion}
      devicestatus:
        simple: ${Endpoint.[0].Status}
      isolated:
        simple: ${Endpoint.[0].IsIsolated}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -30,
          "y": 1570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: f0f238ea-37af-411b-89c2-34e473a4ffe2
    type: condition
    task:
      id: f0f238ea-37af-411b-89c2-34e473a4ffe2
      version: -1
      name: Check if we have more than 1 item
      description: Checks whether given entries returned an error. Use ${lastCompletedTaskEntries} to check the previous task entries. If an array is provided, returns 'yes' if one of the entries returned an error.
      scriptName: isError
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "17"
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -30,
          "y": 1320
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: 824bd476-57d7-49d3-8b9c-4116c5546caf
    type: regular
    task:
      id: 824bd476-57d7-49d3-8b9c-4116c5546caf
      version: -1
      name: Set Endpoint information to layout
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      deviceid:
        simple: ${Endpoint.ID}
      devicelocalip:
        simple: ${Endpoint.IPAddress}
      devicemacaddress:
        simple: ${Endpoint.MACAddress}
      devicename:
        simple: ${Endpoint.Hostname}
      deviceosname:
        simple: ${Endpoint.OS}
      deviceosversion:
        simple: ${Endpoint.OSVersion}
      devicestatus:
        simple: ${Endpoint.Status}
      isolated:
        simple: ${Endpoint.IsIsolated}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -30,
          "y": 1150
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: e7f8f8f8-0219-455f-8189-dfada32149f3
    type: regular
    task:
      id: e7f8f8f8-0219-455f-8189-dfada32149f3
      version: -1
      name: Set Alerts Table Info in the Layout
      description: Creates a grid table from items or key-value pairs.
      scriptName: SetGridField
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "23"
    scriptarguments:
      columns:
        simple: Alert Name,Hostname,File Name,Process ID, SHA256,Command Line,Parent Process
      context_path:
        simple: PaloAltoNetworksXDR.Incident.alerts
      grid_id:
        simple: XDR Alerts
      keys:
        simple: alert_id,host_name,actor_process_image_name,actor_process_os_pid,actor_process_image_sha256,actor_process_command_line,causality_actor_process_image_name
      sort_by:
        simple: MicrosoftATP.Alert.Evidence.[0].processCommandLine
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 430,
          "y": 950
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: fcd44a32-cfb2-4f3f-86de-751faae7ab00
    type: title
    task:
      id: fcd44a32-cfb2-4f3f-86de-751faae7ab00
      version: -1
      name: Set Alert info to Layout
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "20"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 430,
          "y": 820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: ddb6c28d-7aaa-47eb-8c09-8955ca66a478
    type: playbook
    task:
      id: ddb6c28d-7aaa-47eb-8c09-8955ca66a478
      version: -1
      name: Mitre Attack - Extract Technique Information From ID
      description: |-
        This playbook accepts as input MITRE techniques IDs.
        It returns the MITRE technique name and full technique data using the MITRE integration.
      playbookName: Mitre Attack - Extract Technique Information From ID
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      TechniqueID:
        simple: ${incident.mitretechniqueid}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 880,
          "y": 1570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: e2a71ae9-0a7d-4205-81a5-c7f6936aeee1
    type: regular
    task:
      id: e2a71ae9-0a7d-4205-81a5-c7f6936aeee1
      version: -1
      name: Set Process Details To Layout
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      md5:
        complex:
          root: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_md5
          filters:
          - - operator: isNotEmpty
              left:
                value:
                  simple: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_md5
                iscontext: true
          transformers:
          - operator: FirstArrayElement
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "Null"
      parentprocessfilepath:
        complex:
          root: PaloAltoNetworksXDR.Incident.alerts.causality_actor_process_image_path
          filters:
          - - operator: isNotEmpty
              left:
                value:
                  simple: PaloAltoNetworksXDR.Incident.alerts.causality_actor_process_image_path
                iscontext: true
          transformers:
          - operator: FirstArrayElement
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "Null"
      processname:
        complex:
          root: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_name
          filters:
          - - operator: isNotEmpty
              left:
                value:
                  simple: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_name
                iscontext: true
          transformers:
          - operator: FirstArrayElement
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "Null"
      processpath:
        complex:
          root: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_path
          filters:
          - - operator: isNotEmpty
              left:
                value:
                  simple: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_path
                iscontext: true
          transformers:
          - operator: FirstArrayElement
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "Null"
      sha256:
        complex:
          root: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_sha256
          filters:
          - - operator: isNotEmpty
              left:
                value:
                  simple: PaloAltoNetworksXDR.Incident.alerts.actor_process_image_sha256
                iscontext: true
          transformers:
          - operator: FirstArrayElement
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "Null"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 430,
          "y": 1150
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "24":
    id: "24"
    taskid: 7dcc7e32-8eda-4f1d-888c-a39d5c19d416
    type: condition
    task:
      id: 7dcc7e32-8eda-4f1d-888c-a39d5c19d416
      version: -1
      name: Check If there is a Mitre technique
      description: Checks if there is a Mitre technique.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "22"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ${incident.mitretechniqueid}
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 880,
          "y": 960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 1e78ebc6-4ecd-40be-81f4-412f7818aa15
    type: regular
    task:
      id: 1e78ebc6-4ecd-40be-81f4-412f7818aa15
      version: -1
      name: Extract Indicators
      description: commands.local.cmd.extract.indicators
      script: Builtin|||extractIndicators
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      text:
        simple: ${PaloAltoNetworksXDR.Incident}
    reputationcalc: 2
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 660,
          "y": 490
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: b6dba72e-e78c-48f9-8c95-e5a22f9b4e7d
    type: title
    task:
      id: b6dba72e-e78c-48f9-8c95-e5a22f9b4e7d
      version: -1
      name: Account Enrichment
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "29"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: 8401d5ed-0078-47d7-8982-db1af42cea12
    type: regular
    task:
      id: 8401d5ed-0078-47d7-8982-db1af42cea12
      version: -1
      name: Set Account information to layout
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      accountmemberof:
        simple: ${Account.Groups}
      accountname:
        complex:
          root: Account
          accessor: DisplayName
          transformers:
          - operator: If-Then-Else
            args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                value:
                  simple: Account.DisplayName
                iscontext: true
              equals: {}
              lhs: {}
              options: {}
              rhs:
                value:
                  simple: Account.DisplayName
                iscontext: true
              then:
                value:
                  simple: IAM.UserProfile.profile=val.firstName + ' ' + val.lastName
                iscontext: true
      accountstatus:
        complex:
          root: Account
          accessor: Status
          transformers:
          - operator: If-Then-Else
            args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                value:
                  simple: Account.Status
                iscontext: true
              equals: {}
              lhs: {}
              options: {}
              rhs:
                value:
                  simple: Account.Status
                iscontext: true
              then:
                value:
                  simple: IAM.UserProfile.status
                iscontext: true
      employeeemail:
        complex:
          root: Account
          accessor: Email
          transformers:
          - operator: If-Then-Else
            args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                value:
                  simple: Account.Email
                iscontext: true
              equals: {}
              lhs: {}
              options: {}
              rhs:
                value:
                  simple: Account.Email
                iscontext: true
              then:
                value:
                  simple: IAM.UserProfile.profile.email
                iscontext: true
          - operator: uniq
          - operator: FirstArrayElement
      employeetype:
        complex:
          root: Account
          accessor: Type
          transformers:
          - operator: If-Then-Else
            args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                value:
                  simple: Account.Type
                iscontext: true
              equals: {}
              lhs: {}
              options: {}
              rhs:
                value:
                  simple: Account.Type
                iscontext: true
              then:
                value:
                  simple: IAM.UserProfile.profile.userType
                iscontext: true
      manageremailaddress:
        complex:
          root: UserManagerEmail
          filters:
          - - operator: isNotEmpty
              left:
                value:
                  simple: UserManagerEmail
                iscontext: true
          transformers:
          - operator: uniq
          - operator: FirstArrayElement
      managername:
        complex:
          root: Account
          accessor: Manager
          transformers:
          - operator: If-Then-Else
            args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                value:
                  simple: Account.Manager
                iscontext: true
              equals: {}
              lhs: {}
              options: {}
              rhs:
                value:
                  simple: Account.Manager
                iscontext: true
              then:
                value:
                  simple: IAM.UserProfile.profile.manager
                iscontext: true
      samaccountname:
        complex:
          root: Account
          accessor: Username
          transformers:
          - operator: If-Then-Else
            args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                value:
                  simple: Account.Username
                iscontext: true
              equals: {}
              lhs: {}
              options: {}
              rhs:
                value:
                  simple: Account.Username
                iscontext: true
              then:
                value:
                  simple: IAM.UserProfile.profile.login
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 1570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "29":
    id: "29"
    taskid: 2b0ccd50-eea3-4392-8927-c4aa231ce630
    type: playbook
    task:
      id: 2b0ccd50-eea3-4392-8927-c4aa231ce630
      version: -1
      name: Account Enrichment - Generic v2.1
      playbookName: Account Enrichment - Generic v2.1
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      Username:
        complex:
          root: incident.users
          filters:
          - - operator: isNotEmpty
              left:
                value:
                  simple: incident.users
                iscontext: true
          transformers:
          - operator: uniq
          - operator: FirstArrayElement
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1615,
        "width": 1710,
        "x": -30,
        "y": 190
      }
    }
  }
inputs:
- key: IncidentID
  value:
    simple: ${incident.externalsystemid}
  required: false
  description: The incident ID to be enriched.
  playbookInputQuery:
outputs:
- contextPath: PaloAltoNetworksXDR.Incident
  description: Cortex XDR incident information.
  type: unknown
- contextPath: File
  description: File information.
  type: unknown
- contextPath: Process
  description: Process information.
  type: unknown
- contextPath: IP
  description: IP information.
  type: unknown
- contextPath: Domain
  description: Domain information.
  type: unknown
- contextPath: Endpoint.ID
  description: The endpoint identifier.
- contextPath: Endpoint.Hostname
  description: The host name that is mapped to this endpoint.
- contextPath: Endpoint.OS
  description: The endpoint operating system.
- contextPath: Endpoint.OSVersion
  description: The endpoint operating system version.
- contextPath: Endpoint.IPAddress
  description: The endpoint IP address.
- contextPath: Endpoint.Status
  description: The health status of the endpoint.
- contextPath: Endpoint.MACAddress
  description: The endpoint MAC address.
- contextPath: Endpoint.Vendor
  description: The integration name of the endpoint vendor.
- contextPath: AttackPattern
  description: Array of attack pattern names and IDs.
  type: string
- contextPath: MITREATTACK
  description: The full MITRE data for the attack pattern.
  type: string
sourceplaybookid: Cortex XDR Malware - Incident Enrichment
